@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings */

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
}

#logo {
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: auto;
}

#menu {
    line-height: 75px;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: auto;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* Intro */


#tech-addiction {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1924px;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.intro h2 {
    margin-left: 10px;
}

.tech-addiction-image {
    height: 700px;
    background: url('../images/intro.webp') no-repeat center center;
    flex: 50%;
    float: left;
}

.intro {
    max-width: 962px;
    color: #fafafa;
    margin-left: 10px;
    font-size: 80%;
    font-family: Oswald, sans-serif;
    height: 12.5%;
    background-color: rgba(60, 60, 60, 0.6);
    position: sticky;
    margin: auto;
    padding: 5px 5px 5px 5px;
}

.video {
    height: 700px;
    flex: 50%;
}

.video h2 {
    width: 90%;
    font-size: 145%;
    font-weight: 900;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: rgba(60, 60, 60, 0.6);
    margin-left: 10px;
}

.video iframe {
    margin: 20% 0 0 22.5%;
    width: 70%;
    height: 60%;
}

small {
    font-style: italic;
    margin-left: 10px;
}

/* About us*/

#about {
    position: relative;
    height: 800px;
    width: 100%;
    margin: 30px 0 0 0;
    color: rgb(7, 7, 1);
}

.about-us-image {
    background: url('../images/aboutus.webp') no-repeat center;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
}

.about-us {

    font-size: large;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    padding: 20px;

}

#about h2 {
    text-align: center;
    padding-top: 15px;
    color: #fff;
    width: 100%;
    font-size: 36px;
    position: relative;
}

.about-us p {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.about-us li {
    font-size: 16px;
    position: static;
    list-style-type: none;
    text-align: left;
    margin-top: 10px;
    margin-left: 8%;
}

/* Form */

.sign-up {
    background: url("../images/form.webp") no-repeat center center;
    height: 800px;
    width: 100%;
    color: rgb(15, 15, 15);
    margin: 30px 0 0 0;
    position: relative;
}

.signup-form {
    margin: 90px 10% 0 0;
    font-size: large;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    padding: 2%
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background-color: rgba(60, 60, 60, 0.8);
    font-size: medium;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgba(60, 60, 60);
    color: white;
}

::placeholder {
    color: white;
}

select {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    text-align: center;
}

.join-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: rgba(60, 60, 60);
    color: #fafafa;
    display: block;
    width: 200px;
    text-align: center;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgba(60, 60, 60);
}


/* Footer */

.contact {
    color: rgb(15, 15, 15);
    margin: 30px 0 0 0;
    font-size: 36px;
    text-align: center;
}

.phone {
    color: rgb(15, 15, 15);
    font-size: 24px;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 2.5% 5% 0 5%;
    color: #3a3a3a;
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .intro {
        height: 12%;
        max-width: 950px;
    }

    .tech-addiction-image,
    .video {
        flex: 100%;
        left: 0;
    }

    .video iframe {
        margin: 50px 0 0 20%;
        width: 60%;
        height: 70%;
    }

    .about-us {
        margin-top: 10px;
        width: 80%;
    }

    .signup-form {
        width: 90%;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .intro {
        height: 13%;
        width: 100%;
    }

    #menu {
        flex-direction: column;
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .video iframe {
        margin: 10% 0 0 15%;
        width: 75%;
        height: 70%;
    }

    .about-us {
        margin-top: 10px;
        width: 80%;
    }
}

/* For medium screens sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    .intro {
        height: 16%;
    }

    .video iframe {
        margin-left: 15%;
        margin-bottom: auto;
        width: 70%;
        height: 62%;
    }

    .about-us {
        margin-top: 10px;
        width: 80%;
    }

    .social-networks i {
        font-size: 230%;
    }
}

/* For medium screens sizes from 450px wide and down */
@media screen and (max-width: 450px) {
    .intro {
        height: 20%;
    }

    .video iframe {
        margin: 15px 0 0 15%;
        width: 70%;
        height: 54%;
    }

    .about-us {
        margin-top: 10px;
        width: 80%;
    }

    .social-networks i {
        padding: 1.5% 2.5% 0 2.5%;
        font-size: 200%;
    }

}

/* For medium screens sizes from 350px wide and down */
@media screen and (max-width: 350px) {
    #logo {
        font-size: 230%;
    }

    #menu {
        font-size: 100%;
    }

    .intro {
        height: 18%;
    }

    .video h2 {
        font-size: 22px;
    }

    #menu li {
        margin-right: 15px;
    }

    .social-networks i {
        padding: 1.5% 2.5% 0 2.5%;
        font-size: 150%;
    }
}