@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;

}

/* Intro */

#tech-addiction {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.intro, .intro h2 {
    color: rgba(255, 255, 255, 0.89);
}

#tech-addiction-image {
    height: 600px;
    background: url('../images/pexels-roman-odintsov-4555321.jpg') no-repeat center center;
    position: relative;
}

.intro {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 73%;
    height: 100px;
    background-color: rgba(241, 201, 107, 0.3);
    position: sticky;
    margin: auto;
}

small {
    font-style: italic;
}


iframe {
    position: absolute;
    bottom: 2%;
    right: 13%;
}

/* About us*/

#about {
    position: relative;
    height: 600px;
    width: 100%;
    margin: 30px 0 0 0;
    color: rgb(7, 7, 1);
}

#about-us-image {
    background: url('../images/pexels-tima-miroshnichenko-5711163.jpg') no-repeat center center;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
}

#about-us {
    padding-top: 70px;
}

#about h2 {
    text-align: center;
    padding-top: 15px;
    width: 100%;
    margin-left: 10px;
    position: absolute;
    font-size: xx-large;
}

#about-us p {
    font-size: large;
    font-weight: bold;
    text-align: left;
    margin-left: 20%;
    margin-top: 10px;
}

#about-us li {
    position: static;
    list-style-type: none;
    text-align: left;
    margin-left: 22%;
}


/* Form */

#sign-up {
    background: url("../images/pexels-fauxels-3184183.jpg") no-repeat center center;
    height: 500px;
    width: 100%;
    text-align: center;
    color:rgb(15, 15, 15);
    margin: 30px 0 0 0;
}

.signup-form{
    margin: 8px 0;
    display: inline-block;
}

#sign-up h2 {
    text-align: center;
    color:#ccc;
    margin: 8px 0;
}

label {
    width: 100px;
    float: left;
    text-align: left;
    padding-right: 12px;
    background-color: #ccc;
    text-decoration: none;
    height: 25px;
    margin-top: 10px;
    border: 3px solid black;
}

input {
    width: 400px;
    text-align: left;
    padding-right: 12px;
    background-color: #ccc;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    margin-top: 10px;
    border: 3px solid black;
}

select {
    width: 400px;
    height: 25px;
    background-color: #ccc;
    margin-top: 10px;
    border: 3px solid black;
    text-align: center;
}

.join-button{
    float:none;
    width: 400px;
    margin-top: 10px;
    border: 3px solid black;
    text-align: center;
}

.phone {
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    border: 3px solid black;
}

/* Footer */

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


